body {
    font-family: 'Arial Narrow';
}

h1, h2, h3, h4 {
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
    font-size: 12pt;
}

.banner img {
    width: 96%;
    margin: 2% 2% 2%;
}

.row {
    border-bottom: 2px solid black;
}

.installation {
    background-color: rgb(246,133,75);
}

.retail {
    background-color: rgb(17,123,191);
}

.joinery {
    background-color: rgb(5,79,154);
}

.installation, .retail, .joinery {
    color: white;
    padding-bottom: 0.5%;
}

.installation img, .retail img, .joinery img {
    width: 100%;
    margin-top: 3%;
}

p a {
    color: inherit;
    padding: 10px;
    margin-bottom: 5%;
}

p a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}

.about {
    width: 50%;
    float: left;
}

.abouttext, .compliancetext, .eptext {
    padding: 0 2% 0 2%;
}

.missionstatement {
    width: 100%;
}

.benefitsimg {
    width: 100%;
}

.email {
    text-decoration: underline;
    padding: 0;
}

.email:hover {
    text-decoration: underline;
}

@media (min-width: 736px) {
    .banner img {
        width: 30%;
        float: none;
        margin: 0 0 0 0.5%;
    }

    .installation, .retail, .joinery {
        color: white;
        padding-bottom: 0;
    }

    .about {
        width: 25%;
    }

    .missionstatement {
        width: 60%;
    }

    .benefitsimg {
        width: 50%;
        float: left;
    }
}